/* You can add global styles to this file, and also import other style files */
body {
  background-color: #F8F8F8	;
  font-family: 'DM Sans', sans-serif;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
